<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    企业微信应用id 
    <add key="agentid" value="****" />  
    企业微信id 
    <add key="corpid" value="********"/>  
    企业微信应用秘钥 
    <add key="corpsecret" value="****************"/>  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
</configuration>
